html {
  -webkit-appearance: none;
}

body {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  padding: 2px 3px;
}

button:hover {
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-collapse: collapse;
}

table,
th,
td {
  padding: 5px;
}

a {
  text-decoration: none;
  color: navy
}

a:hover {
    text-shadow: navy 1px 1px 5px;
}

.link-icon {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#ato-link {
    margin-top: 30px;
    display:block;
}

.white-cell {
  background-color: white;
  border-color: white;
}

.green-cell {
  background-color: green;
  border-color: green;
  color: white;
}

.red-cell {
  background-color: red;
  border-color: red;
  color: white;
}

.gross-salary-form {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.row {
  position: absolute;
  display: block;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #708090;
}

::-webkit-scrollbar-thumb:hover {
  background: #596673;
}
